body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.app-header {
  background-image: url("/src/icons/books.jpg");
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.post {
  width: auto;
  background-color: lightgrey;
  padding: 20px;
  margin: 10px;
}

.categories {
  padding: 20px;
  margin: 10px;
}




.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.posts {
  margin-left: 200px;
  width: 600px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
